*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.budget-app{
    background: linear-gradient(180deg, lightgreen, lightblue);
    min-height: 100vh; 
    width: 100%;
    padding: 10px;
}

.handle-input{
    text-align: center;
    padding: 20px;
    width: 100%;
}